h1 {
    color:red;
}

body{
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #444;
    padding: 10px;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover{
    background-color: beige;
    color: black;
}